<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css" />
	<title>Supernatural</title>
	
		</head>
<body>
<div id="interface">
<h1>SUPERNATURAL</h1>
<h2>SOBRE A HISTÓRIA...
<p>Supernatural conta a história dos irmãos Sam e Dean Winchester, que viajam pelos Estados Unidos num Chevy Impala preto de 1967
investigando eventos sobrenaturais e caçando criaturas como fantasmas, demônios e vampiros.
A série conta com diversos elementos obtidos em lendas urbanas, em crenças comuns e em mitologia antiga.</p>
<p>A família Winchester, residente de Lawrence (Kansas), passou por uma tragédia quando Mary Winchester, mãe de Sam e Dean,
morreu num incêndio causado por circunstâncias sobrenaturais. Como resultado, o seu pai, John, dedicou a sua vida a viajar por todo o país para
tentar descobrir o que causou a morte da sua mulher e procurar vingança. Ele levou os seus filhos consigo, treinando-os para lutar contra o mal. 
Anos mais tarde, Dean continuou com John para o ajudar, enquanto Sam os deixou para estudar na Universidade Stanford.
Quando o seu pai desaparece de repente, Dean pede ajuda a Sam para o encontrar, e desde então os irmãos trilham uma jornada.</p>
<h3>IRMÃOS WINCHESTER</h3>
<p>SAM</p>
<p>Samuel Winchester nasceu em 2 de maio de 1983 em Lawrence (Kansas), filho de John E. Winchester e Mary Winchester. 
É o filho caçula do casal, tendo um irmão quatro anos mais velho, Dean Winchester. 
Sam é diferente de seu irmão mais velho: é sensível, racional, mais inocente, e aparentemente mais preocupado em ter uma "vida normal" do que seu irmão. 
Apesar disso, fica claro que ele faria qualquer coisa por Dean.
 Ele também revolta-se contra a tentativa de seu pai de transformá-lo em um caçador e matricula-se na Universidade de Stanford.
O apelido "Sammy" foi dado a ele por seu pai, embora ninguém além de Dean é permitido chamá-lo assim.
Enquanto John, está desaparecido, ele ocasionalmente entra em contato com os seus filhos para lhes dar tarefas. 
Os irmãos lidam com criaturas míticas, lendas urbanas e folclore, como o wendigo, a mulher de branco e Bloody Mary.
Nesta época, Sam começa a apresentar sinais de precognição e por uma vez demonstra ter poderes de telecinese.</p>
<p>DEAN</p>
<p>Dean Winchester, nascido em 24 de Janeiro de 1979 em Lawrence é filho mais velho de John e Mary Winchester. 
Dean tinha apenas quatro anos quando seu pai o salvou do misterioso incêndio que matou sua mãe.
 Ele sempre foi o responsável pela casa, ainda quando criança, quando seu pai saia para caçadas misteriosas, cuidando de Sam, seu irmão mais novo. 
Portanto, desde muito cedo, Dean teve participação ativa na construção da família Winchester, encarregando-se do 
peso familiar, e responsabilidades decorrentes ele sempre aceitou os negócios da família e ele está disposto a tudo
 para conseguir descobrir a verdade sobre sua família, junto com Sam. Dean adora Rock Dos Anos 80 e durante toda a série, 
é ícone singular devido ao seu senso de humor, muitas vezes sarcástico. A fama de conquistador também 
é marca registrada do personagem. Mesmo posando de bad boy e jeito durão, tem uma grande preocupação com
o que sobrou de sua família e por isso se sente responsável por todos. Dean adora Rock Dos Anos 80.</p>

<div style= "width:100%">

<div style= "float: left; width:33.33%;">
  <img src="gif3.gif" alt="gif3" width="360px" height="210px"/>
</div>
<div style= "float:left; width: 33.34%;">
  <img src="gif4.gif" alt="gif4" width="360px" height="210px"/>
</div>
<div style= "float: left; width:33.33%;">
  <img src="gif.gif" alt="gif" width="360px" height="210px"/>
</div>
</div>

<h4>ARMAS E SÍMBOLOS USADOS</h4>

<div style= "width:100%">

<div style= "float: left; width:33.33%;">
  <img src="armasal.jpg" alt="armasal" width="248px" height="178px"/>
</div>
<p>MUNIÇÃO DE SAL</p>
<p>John e Dean criaram esse tipo de munição, onde a bala usada na arma é na verdade sal grosso.
Os disparos não matam as criaturas sobrenaturais e muito menos os fantasmas, mas tem a propriedade de afugentá-los.</p>

<div style= "float: left; width:33.33%;">
  <img src="aguabenta.jpg" alt="aguabenta" width="248px" height="178px"/>
</div>
<p>ÁGUA BENTA</p>
<p>Na Igreja Católica, água benta é água abençoada pelo padre com uma solene oração, 
para implorar a bênção de Deus sobre aqueles que a usam e proteção contra os poderes das trevas.</p>

<div style= "float: left; width:33.33%;">
  <img src="pentagrama.gif" alt="pentagrama" width="248px" height="200px"/>
</div>
<p>PENTAGRAMA</p>
<p>O pentagrama é um símbolo antigo de proteção contra o mal. Chamado também de “o nó infinito” (por causa de sua forma entrelaçada),
o pentagrama era muitas vezes pendurado em portas, janelas e lareiras das casas por toda Europa Pré-Cristã.</p>

<div style= "float: left; width:33.33%;">
  <img src="balaprata.jpg" alt="balaprata" width="248px" height="178px"/>
</div>
<p>BALA DE PRATA</p>
<p>Um dos elementos mais conhecidos no folclore da escuridão é a bala de prata.
É a única capaz de acabar com a existência de uma bruxa, um gigante, ou qualquer individuo sobrenatural ou encantado.
A pureza deste material acaba sendo inaceitável para algumas criaturas.</p>

<div style= "float: left; width:33.33%;">
  <img src="medidor.jpg" alt="medidor" width="190px" height="178px"/>
</div>
<p>MEDIDOR DE ONDAS ELETROMAGNÉTICAS</p>
<p>Os investigadores paranormais e caçadores de fantasmas usam o Medidor de Ondas Eletromagnéticas para conduzi-los até as anomalias causadas pelos fenômenos
estranhos ai nosso campo natural de existência. Medidas fora dos parâmetros comuns indicam quase sempre a presença de um fantasma, demônio ou criatura
sobrenatural. Curiosidade: Dean transforma um velho walkman num desses aparelhos.</p>

<div style= "float: left; width:33.33%;">
  <img src="colt.jpg" alt="colt" width="248px" height="178px"/>
</div>
<p>COLT</p>
<p>É a única arma capaz de matar definitivamente qualquer criatura sobrenatural. Segundo a lenda, em 1835, quando o cometa Halley passou,
na mesma noite em que homens morreram no Álamo, dizem que o famoso matador de demônios Samuel Colt criou uma arma, uma arma especial.
A história conta que ele fez 13 balas eu usou a arma meia dúzia de vezes antes de desaparecer levando o revolver.</p>

<div style= "float: left; width:33.33%;">
  <img src="salomao.jpg" alt="salomao" width="228px" height="178px"/>
</div>
<p>CHAVE DE SALOMÃO</p>
<p>
O mais famoso e importante de todos os Grimórios ou Manual da Magia, contendo palavras e instruções do próprio Rei Salomão.
Ele instrui seus seguidores e mestre a convocar a força espiritual. Chave de Salomão também é conhecida pelos fans de Supernatural como
circulo de aprisionamento. Quando um demônio é levado para dentro desse circulo – desenhado no chão ou até mesmo no teto, ele não pode sair até ser libertado.</p>

<div style= "float: left; width:33.33%;">
  <img src="quartopanico.jpg" alt="quartopanico" width="248px" height="178px"/>
</div>
<p>O QUARTO DO PÂNICO</p>
<p>Bobby é o dono da Sucata Singer, que serve, por vezes, de esconderijo para os personagens principais. No episódio "Are you there God?, It's me,
Dean Winchester" revela-se que Bobby construiu uma sala de pânico na propriedade. Com paredes feitas de ferro e reforçadas com sal
e várias armadilhas do diabo inscritas no chão e no teto, a sala torna impossível a entrada de qualquer demónio ou espírito.</p>

<div style= "float: left; width:33.33%;">
  <img src="iimmgg.jpg" alt="iimmgg" width="248px" height="178px"/>
</div>
<p>TATUAGEM ANTI-POSSESSÃO</p>
<p>Essa tatuagem é um simbolo que espele a possessão ele pode ser usado em forma de amuleto, tatuado na pele ou desenhado.
A partir da metade da segunda temporada, Dean e Sam começam a usá-la. Eles tem um pingente guardado no peito.</p>

<div style= "float: left; width:33.33%;">
  <img src="sigilo.jpg" alt="sigilo" width="190px" height="178px"/>
</div>
<p>SIGILO</p>
<p>O Sigilo serve para manda os anjos pro céu o sigilo e feito por sangue humano ele se utiliza assim: 
Faz um sigilo com sangue humano na parede coloca a mão no meio e os anjos que estiver no local ira ser mandando pra um lugar bem 
distante , e se um anjo fizer o sigilo na parede e coloca a mão no meio para manda outro anjo
pra bem distante,o anjo que fez o sigilo também sera mandando pra um lugar bem distante.</p>

<div style= "float: left; width:33.33%;">
  <img src="fogoarcanjo.jpg" alt="fogoarcanjo" width="248px" height="178px"/>
</div>
<p>FOGO ARCANJO</p>
<p>O Fogo arcanjo serve para prender anjos e arcanjos ,
o Fogo não se apaga com água e ele nunca ira se apagar você pode soltar um arcanjo do fogo arcanjo jogando óleo santo e o único jeito e manda-lo pro Céu.</p>

<div style= "float: left; width:33.33%;">
  <img src="ferro.jpg" alt="ferro" width="228px" height="178px"/>
</div>
<p>FERRO</p>
<p>Em teoria, se fantasmas existem e que fazem uso de energia eletromagnética para se manifestar, então, hipoteticamente, pode-se usar um condutor de 
eletricidade, como o ferro ou o solo para drenar a energia do espírito. Portanto, tocar um objeto aterrado, de ferro para o próprio espírito seria drenar toda
a energia utilizável a partir desse espírito. Com base nesta teoria, os cemitérios muitos são fechados por cercas de ferro para manter os espíritos dentro.</p>

<div style= "float: left; width:33.33%;">
  <img src="crucifixo.jpg" alt="crucifixo" width="190px" height="234px"/>
</div>
<p>CRUCIFIXO</p>
<p>A representação da cruz em que Jesus foi crucificado, representa a bondade de Cristo e Deus e o poder do bem sobre o mal.
Cruzes são usadas para afastar vampiros e demônios que são associados com Satã.  A cruz normalmente não é poderosa
o suficiente para matar um vampiro ou demônio por si só, mas pode drená-los de força, queimar sua carne, e mantê-los a uma distância segura.</p>

</div>

<h5>CHEVY IMPALA 67</h5>
<div style= "width:100%">

<div style= "float: left; width:33.33%;">
  <img src="gif2.gif" alt="gif2" width="360px" height="230px"/>
</div>
</div>
<p>Foi dado a Dean pelo seu pai, que o comprou em 1973 depois de Dean, que foi enviado para esse ano por Castiel, o ter convencido a compra-lo em vez de
uma Volkswagen Kombi de 1964. O carro tem uma matrícula do condado de Sedgwick, Kansas. O número da matrícula é KAZ 2Y5, uma referência ao Estado onde os 
Winchester nasceram e ao ano de estreia da série, 2005. A partir do episódio 2.20, a matrícula passa a ser do Ohio (CNK 80Q3) para ajudar os rapazes a 
esconderem-se do FBI.
O carro é uma das figuras mais proeminentes da série, pode até ser considerado um personagem. Logo no episódio piloto, é no Chevy Impala que John e os seus 
filhos observam a casa a arder. O carro é a coisa mais preciosa que Dean possui e este protege-o com quase tanta paixão como a sua família. No episódio 
"piloto" é também revelado que o porta-malas contém vários tipos de armas que ajudam os irmãos a lutar contra as criaturas sobrenaturais. Durante a primeira temporada, Sam desenha símbolos no porta-mala que são à prova de demônios, para transformar o porta-malas num local protegido para guardar a Colt, que eles estão tentando guardar a todo custo para matar o demônio dos olhos amarelos.
É também mostrado que Dean, quando criança, colocou peças de lego dentro da ventilação do Impala, e mesmo depois de reconstruí-la manteve 
essas pequenas coisas, pois são essas coisas que o faz especial. Mas ao longo das temporadas Sam e Dean sempre utilizam o carro.</p>

<h6>ATORES E PERSONAGENS</h6>
<h7>Sam Winchester(Jared Padalecki)</h7>
<div style= "width:100%">

<div style= "float: left; width:33.33%;">
  <img src="img6.jpg" alt="img6" width="228px" height="240px"/>
</div>
<div style= "float:left; width: 33.34%;">
  <img src="jaredgif.gif" alt="jaredgif" width="250px" height="250px"/>
</div>
<div style= "float: left; width:33.33%;">
  <img src="jared.jpg" alt="jared" width="228px" height="250px"/>
</div>
</div>

<h8>Dean Winchester(Jensen Ackles)</h8>

<div style= "width:100%">

<div style= "float: left; width:33.33%;">
  <img src="img5.jpg" alt="img5" width="170px" height="240px"/>
</div>
<div style= "float:left; width: 33.34%;">
  <img src="deangif.gif" alt="deangif" width="250x" height="250px"/>
</div>
<div style= "float: left; width:33.33%;">
  <img src="img44.jpg" alt="img44" width="370px" height="250px"/>
</div>
</div>

<h9>Misha Collins(Castiel)</h9>

<div style= "width:100%">

<div style= "float: left; width:33.33%;">
  <img src="img7.jpg" alt="img7" width="140px" height="270px"/>
</div>
<div style= "float:left; width: 33.34%;">
  <img src="castielgif.gif" alt="castielgif" width="270x" height="270px"/>
</div>
<div style= "float: left; width:33.33%;">
  <img src="castiel.jpg" alt="castiel" width="300px" height="280px"/>
</div>
</div>

<h10>Jim Beaver(Bobby Singer)<h10>

<div style= "width:100%">

<div style= "float: left; width:33.33%;">
  <img src="jim.jpg" alt="jim" width="190px" height="280px"/>
</div>
<div style= "float:left; width: 33.34%;">
  <img src="bobbygif.gif" alt="bobbygif" width="300px" height="270px"/>
</div>
<div style= "float: left; width:33.33%;">
  <img src="bobby.jpg" alt="bobby" width="280px" height="280px"/>
</div>
</div>

<h11>Outros</h11>
<p>Mark Sheppard como Crowley<br/>Fredric Lehne como Azazel<br/>Samantha Ferris como Ellen Harvelle<br/>Alona Tal como Jo Harvelle
<br/>Katie Cassidy / Genevieve Cortese como Ruby<br/>Lauren Cohan como Bela Talbot<br/>Jeffrey Dean Morgan como John Winchester<br/>
Samantha Smith como Mary Winchester<br/>Sterling K. Brown como Gordon Walker<br/>Mark Pellegrino / Jared Padalecki / Misha Collins como Lúcifer<br/>
Sierra McCormick / Katie Cassidy como Lilith</p>

<h12>GALERIA</h12>


</div>
